.cards-container-total{
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    gap: 15px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
   
    @media screen and (min-width:768px){
        flex-direction: row;
        justify-content: space-around;
        
    }
}