.points-container {
    width: 350px;
    height: 80px;
    background-color: var(--violet-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;


    
    @media screen and (min-width: 768px) {
        flex-direction: column;
        width: 400px;
        height: 60px;
        &:nth-child(2){
            transform: translateX(25px);
        }
        &:nth-child(3){
            transform: translateX(50px);
        }
    }
}

.stars-container{
    display: flex;
    gap: 5px;

    &:nth-child(2){
        transform: translateX(10px);
    }


}

.points-title{
    font-size: 0.9rem;
}